<section class="phx-hero">
  <h1><%= gettext "Welcome to Biglison gerenciador de gastos  !", name: "Phoenix" %></h1>
  <p>Na base do odio tudo funciona</p>
</section>

<section class="row">
  <article class="column">
    <h2>Gerenciador de gastos</h2>
    <ul>

    <li>
    <a class="btn btn-primary " href='http://localhost:4000/gastos' role="button"> gerenciador de gasto rapa </a>
    </li>
    
    
      
    </ul>
  </article>
  
</section>
